
body {
    background-color: black;
    color: white;
    margin: 0;
}

.app {
    width: 100%;
    height: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 12%;
    background-color: black;
    z-index: 10;
}

.logo {
    position: fixed;
    left: 10%;
    top: 5%;
}

.menu {
    position: fixed;
    right: 10%;
    top: 5%;
}

.container {
    padding-top: 4%;
    display: flex;
    /*justify-content: center; !* 水平居中 *!*/
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 占满视口高度 */
    flex-direction: column; /* 垂直排列 */
}

.container h1{
    margin: 0;
    padding: 0;
    margin-top: 2%;
}

.container h1 + p{
    margin: 0;
    padding: 0;
    margin-top: 2%;
    color: #9fc8c1;
    width: 80%;
    font-size: 17px;
    font-weight: bold;
    text-align: center; /* 水平居中 */
    word-break: break-word; /* 自动换行 */
}

.text-center {
    margin: 0;
    padding: 0;
    margin-top: 2%;
    /*margin-bottom: 10px;*/
}

.text-center p {
    display: inline;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    margin-top: 0;
    padding-top: 0;
}
.container-click{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}
.clickarea {
    background: #142020;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* 垂直居中 */
    /*box-shadow: 0 0 0 0 rgba(20, 32, 32, 0.5);*/
    animation: halo 2.5s infinite;
    position: relative;
    overflow: hidden;
    margin-top: 2%;
}

.seconds {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    margin-top: 2%;
}

.seconds div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #142020;
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.7) 0%,
            rgba(255, 255, 255, 0.4) 40%,
            rgba(255, 255, 255, 0.15) 60%,
            transparent 70%
    );
    transform: scale(0);
    animation: ripple 600ms ease-out;
    pointer-events: none;
}

@keyframes ripple {
    to {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes halo {
    0% {
        box-shadow: 0 0 0 0 rgba(75, 79, 79, 0.5);
    }
    50% {
        box-shadow: 0 0 20px 10px rgba(75, 79, 79, 0.5);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(75, 79, 79, 0.5);
    }
}

