
body {
    background-color: black;
    color: white;
    margin: 0;
    /*font-family: "Maven Pro", sans-serif;*/
}

.app {
    width: 100%;
    height: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 12%;
    background-color: black;
    z-index: 10;
}

.logo {
    position: fixed;
    left: 10%;
    top: 5%;
}

.menu {
    position: fixed;
    right: 10%;
    top: 5%;
}

.container {
    padding-top: 5%;
    display: flex;
    /*justify-content: center; !* 水平居中 *!*/
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 占满视口高度 */
    flex-direction: column; /* 垂直排列 */
}

.text-center {
    display: flex;
    flex-direction: row;
}

.text-center p {
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    margin-top: 0;
    padding-top: 0;
}

.clickarea {
    background: #142020;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* 垂直居中 */
}
